<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Electro - HTML Ecommerce Template</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/css/style.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
    <!-- HEADER -->
    <%- include('../partials/userHeader'); %>
    <!-- /HEADER -->

    <!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Hot Deals</a></li>
                    <% for(let brand of brands){ %>
                    <li><a href="/brands/<%= brand._id %>"><%= brand.brandName %></a></li>
                    <% } %>
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->

    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb-tree">
                        <li><a href="/">Home</a></li>
                        <li><a href="/brands/<%= brand._id %>"><%= brand.brandName %></a></li>

                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->

    <!-- SECTION -->
    <div class="section">
        <div class="text-center">
            <h3 style="
  background: -webkit-linear-gradient(rgb(105, 76, 235), rgb(226, 12, 12)); -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;"><%= brand.description %></h3>
        </div>
        <!-- container -->
        <div class="container">

            <!-- row -->
            <div class="row">
                <!-- ASIDE -->

                <!-- /ASIDE -->

                <!-- STORE -->
                <div class="col-md-12">
                    <!-- store top filter -->
                    <div class="store-filter clearfix">
                        <div class="store-sort">
                            <label>
                                Sort By:
                                <select class="input-select">
                                    <option value="0">Popular</option>
                                    <option value="1">Position</option>
                                </select>
                            </label>

                            <label>
                                Show:
                                <select class="input-select">
                                    <option value="0">20</option>
                                    <option value="1">50</option>
                                </select>
                            </label>
                        </div>
                        <ul class="store-grid">
                            <li class="active"><i class="fa fa-th"></i></li>
                            <li><a href="#"><i class="fa fa-th-list"></i></a></li>
                        </ul>
                    </div>
                    <!-- /store top filter -->

                    <!-- store products -->

                    <div class="row" id="listingTable">
                        <!-- product -->
                        <% for(let product of products){ %>
                        <div class="col-md-3 col-xs-6">
                            <div class="product">

                                <div class="product-img">
                                    <img height="240" width="300" src="<%= product.image[0].url %>"
                                        alt="<%= product.image[0].filename %>">
                                </div>
                                <div class="product-body">
                                    <p class="product-category"><%= product.category %></p>
                                    <h3 class="product-name"><a href="#"><%= product.productname %></a></h3>
                                    <h4 class="product-price">₹<%= product.price %><del
                                            class="product-old-price">₹<%= product.mrp %></del></h4>
                                    <!-- <div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div> -->
                                    <div class="product-btns">
                                        <button class="add-to-wishlist"
                                            onclick="location.href='/wishlist/addtowishlist/<%= product._id %>'"><i
                                                class="fa fa-heart-o"></i><span class="tooltipp">add to
                                                wishlist</span></button>
                                        <!-- <button class="add-to-compare" href="#"><i class="fa fa-exchange"></i><span
                                                class="tooltipp">add to
                                                compare</span></button> -->

                                        <button class="quick-view"
                                            onclick="location.href='/products/viewproduct/<%= product._id %>'"><i
                                                class="fa fa-eye"></i><span class="tooltipp">quick
                                                view</span></button>
                                    </div>
                                </div>
                                <div class="add-to-cart">
                                    <button class="add-to-cart-btn" onclick="addToCart('<%= product._id %>')"><i
                                            class="fa fa-shopping-cart"></i> add to
                                        cart</button>
                                </div>


                            </div>
                        </div>
                        <% } %>
                        <!-- /product -->

                        <!-- <div type="hidden" name="products" id="productsbrand"><%= pageproduct %></div> -->
                        <input type="hidden" name="products" id="productsbrand" value="<%= pageproduct %>"></div>
                </div>
                <!-- /store products -->

                <!-- store bottom filter -->
                <div class="store-filter clearfix">
                    <span class="store-qty">Showing 20-100 products</span>
                    <ul class="store-pagination">
                        <li>
                            <a href="javascript:prevPage()" id="btn_prev"><i class="fa fa-angle-left"></i></a>
                        </li>
                        <li>page:<span id="page"></span></li>
                        <!-- <li class="active">1</li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li> -->
                        <li>
                            <a href="javascript:nextPage()" id="btn_next"><i class="fa fa-angle-right"></i></a>
                        </li>
                    </ul>

                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    </div>
    <!-- /SECTION -->

    <!-- NEWSLETTER -->

    <!-- /NEWSLETTER -->

    <!-- FOOTER -->
    <%- include('../partials/userFooter'); %>
    <!-- /FOOTER -->

    <!-- jQuery Plugins -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/nouislider.min.js"></script>
    <script src="/js/jquery.zoom.min.js"></script>
    <script src="/js/main.js"></script>

    <script>
        // var current_page = 1;
        var current_page = 1;
        var records_per_page = 20;
        // let pro = <%pageproduct %> ;
        let products = document.getElementById('productsbrand').value;
        JSON.parse(products)

        let newProducts = JSON.parse(products)
        console.log(typeof (newProducts))
        var objJson = [...newProducts];

        // Can be obtained from another source, such as your objJson variable
        console.log('objJson', objJson);

        function prevPage() {
            if (current_page > 1) {
                current_page--;
                console.log('prev page', current_page)
                changePage(current_page);
            }
        }

        function nextPage() {
            if (current_page < numPages()) {
                current_page = current_page + 1;
                console.log('nxt page', current_page)
                changePage(current_page);
            }
        }

        function changePage(page) {
            var btn_next = document.getElementById("btn_next");
            var btn_prev = document.getElementById("btn_prev");
            var listing_table = document.getElementById("listingTable");
            var page_span = document.getElementById("page"); //Validate page 
            console.log('page_span', page_span)
            if (page < 1) page = 1;
            if (page > numPages()) page = numPages();
            console.log('page', page)
            listing_table.innerHTML = "";

            for (var i = (page - 1) * records_per_page; i < (page * records_per_page); i++) {
                // listing_table.innerHTML += objJson[i].productname + "<br>";
                page_span.innerHTML = page;
                if (page == 1) {
                    btn_prev.style.visibility = "hidden";
                } else {
                    btn_prev.style.visibility = "visible";
                }
                if (page == numPages()) {
                    btn_next.style.visibility = "hidden";
                } else {
                    btn_next.style.visibility = "visible";
                }
                listing_table.innerHTML +=
                    `<div class="col-md-3 col-xs-6">
                    <div class="product">

                        <div class="product-img">
                            <img height="240" width="300" src="${objJson[i].image[0].url}"
                                alt="${objJson[i].image[0].filename }">
                        </div>
                        <div class="product-body">
                            <p class="product-category">${objJson[i].category}</p>
                            <h3 class="product-name"><a href="#">${objJson[i].productname}</a></h3>
                            <h4 class="product-price">₹${objJson[i].price }<del
                                    class="product-old-price">₹${objJson[i].mrp }</del></h4>
                            <!-- <div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div> -->
                            <div class="product-btns">
                                <button class="add-to-wishlist"
                                    onclick="location.href='/wishlist/addtowishlist/${objJson[i]._id }'"><i
                                        class="fa fa-heart-o"></i><span class="tooltipp">add to
                                        wishlist</span></button>
                                
                                <button class="quick-view"
                                    onclick="location.href='/products/viewproduct/${objJson[i]._id}'"><i
                                        class="fa fa-eye"></i><span class="tooltipp">quick
                                        view</span></button>
                            </div>
                        </div>
                        <div class="add-to-cart">
                            <button class="add-to-cart-btn" onclick="addToCart('${objJson[i]._id}')"><i
                                    class="fa fa-shopping-cart">
                                </i> add to
                                cart</button>
                        </div>


                    </div>
                </div>`
            }


        }

        function numPages() {
            return Math.ceil(objJson.length / records_per_page);
            console.log('numpages', eval(Math.ceil(objJson.length / records_per_page)))
        }
        window.onload = function () {
            changePage(1);
        };

        function addToCart(productId) {
            fetch('/cart/addtocart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    productId
                })
            }).then(res => res.json()).then(data => {

                window.location.href = "/cart";
            })
        }
    </script>
</body>

</html>