<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../cart/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../cart/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../cart/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../cart/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../cart/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../cart/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../cart/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../cart/css/style.css" type="text/css">

    <title>Electro - HTML Ecommerce Template</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="../css/slick.css" />
    <link type="text/css" rel="stylesheet" href="../css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="../css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="../css/style.css" />

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- HEADER -->
    <%- include('../partials/userHeader'); %>
    <!-- /HEADER -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="/user">Home</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <% if(items.length>0){ %>
            <div class="row">

                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% let total=0;for(let item of items){ %>
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <% for(let img of item.productId.image){ %>
                                            <img src="<%= img.url %>" alt="<%= img.filename %>"
                                                style="width:80px;height:70px;">
                                            <% } %>


                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6><%= item.productId.productname %></h6>
                                            <h5>₹<%= item.productId.price %></h5>
                                        </div>
                                    </td>

                                    <td class="quantity__item">
                                        <!-- <div class="quantity">
                                            <div class="pro-qty-2">
                                                <input type="text" value="<%= item.productQuantity %>">

                                            </div>
                                        </div>
                                        <div class="quantity"> -->

                                        <!-- <input type="text" value="<%= item.productQuantity %>"> -->
                                        <button class="dec qtybtn"
                                            onclick="decQuantity('<%= item.productId._id %>')">-</button>
                                        <!-- <input class="m-2 text-center" id="<%= item.productId._id %>"
                                            value="<%= item.productQuantity %>" size="1" disabled> -->
                                        <input class="m-2 text-center" id="quantity<%= item.productId._id %>"
                                            value="<%= item.productQuantity %>" size="1" disabled>
                                        <!-- <%= item.productQuantity %> -->
                                        <button class=" inc qtybtn"
                                            onclick="incQuantity('<%= item.productId._id %>')">+</button>

                                        <!-- <input type="button" onclick="decrementValue()" value="-" />
                                                <input type="text" name="quantity" value="<%= item.productQuantity %>"
                                                    maxlength="2" max="10" size="1" id="number" />
                                                <input type="button" onclick="incrementValue()" value="+" /> -->


                                        <input type="hidden" id="price<%= item.productId._id %>"
                                            value="<%= item.productId.price %>">
                                    </td>
                                    <input type="hidden" id="hiddentotal"
                                        value="<%= total+=item.productQuantity*item.productId.price %>">


                                    <td class="cart__price">
                                        <% const eachTotal= item.productQuantity* item.productId.price %>
                                        <span id="eachtotal<%= item.productId._id %>"><%= eachTotal %></span></td>
                                    <input type="hidden" value="<%= eachTotal %>">
                                    <td class="cart__close"><span onclick="delfromcart('<%=item.productId._id %>')"><i
                                                class="fa fa-close"></i></span></td>
                                </tr>
                                <% } %>
                                <input type="hidden" id="total" value="<%= total %>">
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="/">Continue Shopping</a>
                            </div>
                        </div>
                        <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                        </div>
                    </div> -->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart__discount">
                        <h6>Discount codes</h6>
                        <!-- <form> -->
                        <div class="form">

                            <input type="text" name="couponName" id="couponName" placeholder="Coupon code">
                            <button onclick="applyCoupon()">Apply</button>
                        </div>
                        <!-- </form> -->
                    </div>
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Subtotal <span id="subtotal"><%= total %></span></li>
                            <li>Discount <span id="discount">0</span></li>
                            <li>Total <span id="finaltot"><%= total %></span></li>
                        </ul>
                        <!-- <a href="/checkout" class="primary-btn">Proceed to checkout</a> -->
                        <button class="primary-btn" onclick="proceedToCheckout()">Proceed to checkout</button>
                    </div>
                </div>
            </div>
            <% }else{ %>
            <h3>Your Cart Is Empty</h3>
            <% } %>
        </div>
    </section>
    <!-- Shopping Cart Section End -->

    <!-- Footer Section Begin -->

    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="../cart/js/jquery-3.3.1.min.js"></script>
    <script src="../cart/js/bootstrap.min.js"></script>
    <script src="../cart/js/jquery.nice-select.min.js"></script>
    <script src="../cart/js/jquery.nicescroll.min.js"></script>
    <script src="../cart/js/jquery.magnific-popup.min.js"></script>
    <script src="../cart/js/jquery.countdown.min.js"></script>
    <script src="../cart/js/jquery.slicknav.js"></script>
    <script src="../cart/js/mixitup.min.js"></script>
    <script src="../cart/js/owl.carousel.min.js"></script>
    <script src="../cart/js/main.js"></script>


    <!-- jQuery Plugins -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/nouislider.min.js"></script>
    <script src="../js/jquery.zoom.min.js"></script>
    <script src="../js/main.js"></script>

    <script type="text/javascript">
        // function incQuantity(proid) {
        // $.ajax({
        //     url: '/cart/addtoexistingcart',
        //     data: {
        //         prodid: proid
        //     },
        //     method: 'post',
        //     sucess: location.reload()

        // })
        // }

        function incQuantity(prodid) {
            prodid = String(prodid);
            //alert('clicked')
            let quantity = document.getElementById('quantity' + prodid);
            // alert(quantity.value)
            let price = document.getElementById('price' + prodid);
            // alert(price.value)
            let eachTotal = document.getElementById('eachtotal' + prodid);
            // alert(eachTotal.innerHTML)
            //console.log('eachtotal value', eachTotal.innerHTML)
            let subTotal = document.getElementById('subtotal');
            let grandTotal = document.getElementById('finaltot');

            //let hiddenTotal = document.getElementById('hiddentotal').value;
            //alert(hiddenTotal)
            let total;
            let subtotcalc;
            quantity.value++;

            fetch('/cart/addtoexistingcart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    prodid
                })
            }).then(res => res.json()).then(data => {
                alert('promise sucess');
                if (data.msg) {
                    aler(data.msg);
                }
            });
            let discount = document.getElementById('discount');
            // quantity.value = quantity;
            document.getElementById('quantity' + prodid).value = quantity.value;
            //alert(total);
            //alert(quantity.value)
            total = quantity.value * price.value;

            //document.getElementById('eachtotal' + prodid).innerHTML = total;
            eachTotal.innerHTML = total;
            //alert(subTotal.innerHTML)
            // subtotcalc = subTotal.innerHTML; //+ price.value;
            //subtotcalc=parseeInt(subTotal.innerHTML) + parseInt(price.value);
            subTotal.innerHTML = parseInt(subTotal.innerHTML) + parseInt(price.value);
            //alert(subTotal)
            grandTotal.innerHTML = parseInt(subTotal.innerHTML) - parseInt(discount.innerHTML);
            //alert(eachTotal.value)
            // eachTotal.value = total;
        }

        // function decQuantity(proid) {
        //     var quantity = document.getElementById(proid).value;

        //     if (quantity > 1) {
        //         $.ajax({
        //             url: '/cart/decfromcart',
        //             data: {
        //                 prodid: proid
        //             },
        //             method: 'post',
        //             success: location.reload()


        //         })
        //         return false;
        //     } else {

        //         $.ajax({
        //             url: '/cart/delfromcart',
        //             data: {
        //                 prodid: proid
        //             },
        //             method: 'post',
        //             success: location.reload()
        //         })
        //     }

        // }
        function decQuantity(prodid) {
            prodid = String(prodid);

            let quantity = document.getElementById('quantity' + prodid);
            let price = document.getElementById('price' + prodid);

            let eachTotal = document.getElementById('eachtotal' + prodid);
            let subTotal = document.getElementById('subtotal');
            let grandTotal = document.getElementById('finaltot');
            let total;

            if (quantity.value > 1) {
                fetch('/cart/decfromcart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        prodid
                    })
                }).then(res => res.json()).then(data => {
                    if (data.msg) {
                        aler(data.msg);
                    }
                });
                let discount = document.getElementById('discount');

                document.getElementById('quantity' + prodid).value = quantity.value;
                quantity.value--;
                total = quantity.value * price.value;


                eachTotal.innerHTML = total;
                subTotal.innerHTML = parseInt(subTotal.innerHTML) - parseInt(price.value);
                //alert(subTotal)
                grandTotal.innerHTML = parseInt(subTotal.innerHTML) - parseInt(discount.innerHTML);
            } else {

                // $.ajax({
                //     url: '/cart/delfromcart',
                //     data: {
                //         prodid: proid
                //     },
                //     method: 'post',
                //     success: alert('dlt called')
                // })
            }

        }


        // function delfromcart(prodid) {
        //     fetch('/cart/delfromcart', {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json'
        //         },
        //         body: JSON.stringify({
        //             prodid
        //         })
        //     }).then(res => res.json()).then(data => {
        //         alert('promise sucess');
        //         if (data.msg) {
        //             aler(data.msg);
        //         }
        //     });
        //}

        function applyCoupon() {
            let couponName = document.getElementById('couponName').value;
            let subTotal = document.getElementById('subtotal').innerHTML;
            let grandTotal = document.getElementById('finaltot');
            let discount = document.getElementById('discount');
            alert(couponName)
            fetch('/cart/checkcoupon', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    couponName: couponName,
                    subTotal: subTotal,
                    grandTotal: grandTotal.innerHTML
                })
            }).then(res => res.json()).then(data => {
                discount.innerHTML = data.reduce;
                grandTotal.innerHTML = data.grandTotal;
            });
        }

        function proceedToCheckout() {
            let discount = document.getElementById('discount').innerHTML;
            let subTotal = document.getElementById('subtotal').innerHTML;
            let grandTotal = document.getElementById('finaltot');
            fetch('/checkout/getvalfromcart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    discount: discount,
                    subTotal: subTotal,
                    grandTotal: grandTotal.innerHTML
                })
            }).then(res => res.json()).then(data => {
                if (data.msg) {
                    window.location.href = "/checkout";
                }
            });

        }
    </script>

    <script type="text/javascript">
        function delfromcart(proid) {
            $.ajax({
                url: '/cart/delfromcart',
                data: {
                    prodid: proid
                },
                method: 'post',
                success: location.reload()
            })
        }
    </script>
</body>

</html>