<!DOCTYPE html>
<html lang="en">

<%- include('../partials/userNavBar'); %>

<body>
	<!-- HEADER -->
	<%- include('../partials/userHeader'); %>
	<!-- /HEADER -->

	<!-- NAVIGATION -->
	<nav id="navigation">
		<!-- container -->
		<div class="container">
			<!-- responsive-nav -->
			<div id="responsive-nav">
				<!-- NAV -->
				<ul class="main-nav nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Hot Deals</a></li>
					<li><a href="#">Categories</a></li>
					<li><a href="#">Laptops</a></li>
					<li><a href="#">Smartphones</a></li>
					<li><a href="#">Cameras</a></li>
					<li><a href="#">Accessories</a></li>
				</ul>
				<!-- /NAV -->
			</div>
			<!-- /responsive-nav -->
		</div>
		<!-- /container -->
	</nav>
	<!-- /NAVIGATION -->

	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<h3 class="breadcrumb-header">Checkout</h3>
					<ul class="breadcrumb-tree">
						<li><a href="#">Home</a></li>
						<li class="active">Checkout</li>
					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<form action="/checkout" method="post">
					<div class="col-md-7">

						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Billing address</h3>
							</div>
							<div class="table">
								<div class="container">
									<div class="fullrow">
										<% user.addressDetails.forEach(address=>{ %>
										<div class="row mt-2">
											<div class="col-md-1">
												<input type="radio" name="Address" value="<%= address._id %>">
											</div>
											<div class="col-md-3">

												<h4><%= user.firstname %> <%= user.lastname %></h4>
												<h5><%= address.address %> <%= address.city %></h5>
												<h5><%= address.country %> <%= address.pinCode %></h5>
												<h5><%= address.mobileNumber %></h5>
											</div>
											<!-- <div class="col-md-1">
												<h5><%= user.email %></h5>
											</div>
											<div class="col-md-1">
												<%= user.addressDetails.address %>
											</div>
											<div class="col-md-2">
												<%= user.addressDetails.city %>
											</div> -->

										</div>
										<!-- <div class="addAddress">
											<button class="btn btn-primary">ADD New Address</button>
										</div> -->
										<% }) %>

									</div>

								</div>
							</div>
						</div>


						<!-- Shiping Details -->
						<div class="shiping-details">
							<div class="section-title">
								<h3 class="title">Shiping address</h3>
							</div>
							<div class="input-checkbox">
								<input type="checkbox" id="shiping-address">
								<label for="shiping-address">
									<span></span>
									Ship to a diffrent address?
								</label>
								<div class="caption">
									<div class="form-group">
										<input class="input" type="text" name="firstname" value="<%= user.firstname %>"
											placeholder="First Name">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="lastname" value="<%= user.lastname %>"
											placeholder="Last Name">
									</div>
									<div class="form-group">
										<input class="input" type="email" name="email" value="<%= user.username %>"
											placeholder="Email">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="address" id="address"
											placeholder="Address">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="city" id="city" placeholder="City">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="country" id="country"
											placeholder="Country">
									</div>
									<div class="form-group">
										<input class="input" type="text" name="pinCode" id="pinCode"
											placeholder="ZIP Code">
									</div>
									<div class="form-group">
										<input class="input" type="tel" name="mobileNumber" id="mobileNumber"
											placeholder="Mobile Number">
									</div>
									<div class="form-group text-center">
										<span class="btn btn-primary" onclick="addNewAddress('<%= user._id %>')">Add
											This Address</span>
									</div>
								</div>
							</div>
						</div>
						<!-- /Shiping Details -->

						<!-- Order notes -->
						<div class="order-notes">
							<textarea class="input" name="orderNotes" placeholder="Order Notes"></textarea>
						</div>
						<!-- /Order notes -->
					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Your Order</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>PRODUCT</strong></div>
								<div><strong>TOTAL</strong></div>
							</div>
							<div class="order-products">
								<% let total=0;for(let item of items){ %>
								<div class="order-col">
									<div><%= item.productQuantity %>x </div>
									<div><%= item.productId.productname %></div>
									<div><%= item.productId.price %></div>
								</div>
								<input type="hidden" value="<%= total+=item.productId.price*item.productQuantity %>">
								<% } %>
							</div>
							<div class="order-col">
								<div>SubTotal</div>
								<div><strong><%= subCart%></strong></div>
							</div>
							<div class="order-col">
								<div>Discount</div>
								<div><strong>-<%= discCart %></strong></div>
							</div>
							<div class="order-col">
								<div>Shiping</div>
								<div><strong>FREE</strong></div>
							</div>
							<div class="order-col">
								<div><strong>TOTAL</strong></div>
								<div><strong class="order-total">₹<%= grandCart %></strong></div>
								<input type="hidden" name="totalAmount" value="<%= grandCart  %>">
							</div>
						</div>
						<div class="payment-method">
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-1" value="COD">
								<label for="payment-1">
									<span></span>
									Cash On Delivery(COD)
								</label>
								<div class="caption">
									<p>Pay when you recieve the product.</p>
								</div>
							</div>
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-2" value="RazorPay">
								<label for="payment-2">
									<span></span>
									Online Payment

								</label>
								<div class="caption">
									<!-- <button id="rzp-button1">Pay</button> -->
								</div>
							</div>

						</div>
						<div class="input-checkbox">
							<input type="checkbox" id="terms">
							<label for="terms">
								<span></span>
								I've read and accept the <a href="#">terms & conditions</a>
							</label>
						</div>
						<button class="primary-btn order-submit" id="rzp-button1" onclick="placeOrder()"
							data-toggle="modal" data-target="#exampleModal">Place
							order</button>
					</div>
					<!-- /Order Details -->
					<!-- Button trigger modal -->
					<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
						Launch demo modal
					</button> -->
				</form>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- NEWSLETTER -->
	<div id="newsletter" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="newsletter">
						<p>Sign Up for the <strong>NEWSLETTER</strong></p>
						<form>
							<input class="input" type="email" placeholder="Enter Your Email">
							<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
						</form>
						<ul class="newsletter-follow">
							<li>
								<a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-instagram"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-pinterest"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /NEWSLETTER -->

	<!-- FOOTER -->
	<%- include('../partials/userFooter'); %>
	<!-- /FOOTER -->
	<script>
		function placeOrder() {

			swal("Confirm The Details", "Once Again ", "info");
		}

		function addNewAddress(userId) {
			let address = document.getElementById('address').value;
			let city = document.getElementById('city').value;
			let country = document.getElementById('country').value;
			let pinCode = document.getElementById('pinCode').value;
			let mobileNumber = document.getElementById('mobileNumber').value;
			$.ajax({
				url: '/checkout/addnewaddress',
				data: {
					userId: userId,
					address: address,
					city: city,
					country: country,
					pinCode: pinCode,
					mobileNumber: mobileNumber
				},
				method: 'post',
				sucess: location.reload()

			})
		}
	</script>
	<!-- jQuery Plugins -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/nouislider.min.js"></script>
	<script src="js/jquery.zoom.min.js"></script>
	<script src="js/main.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<script src="https://checkout.razorpay.com/v1/checkout.js">
	</script>


</body>

</html>